/* CABEÇALHO */

.cabecalho__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.cabecalho__pesquisar__item {
    display: none;
}

/* RODAPÉ */

.rodape__container {
    display: flex;
    flex-flow: column wrap;
}

/* SEÇÃO SUPERIOR */

.superior__secao__container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow-x: scroll;
    gap: 15px;
}

/* MENU LATERAL */

.menu__container {
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 74px;
}

.menu__lista {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.menu__lista li {
    align-self: center;
}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4) {
    display: none;
}

.menu__itens {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media screen and (min-width: 834px) {

    /* CABEÇALHO */

    .cabecalho__pesquisar__item {
        display: block;
    }

    /* RODAPÉ */

    .rodape__container {
        justify-content: space-between;
    }

    /* MENU LATERAL */

    .menu__container {
        position: fixed;
        left: 0;
        width: 74px;
        height: auto;
        top: 80px;
    }

    .menu__lista {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 15px;
        gap: 33px;
    }
}

@media screen and (min-width: 1440px) {

    /* MENU LATERAL */

    .menu__container {
        width: 239px;
        overflow-y: scroll;
    }

    .menu__lista {
        height: auto;
        padding: 20px 17px 20px 17px;
        gap: 15px;
    }

    .menu__lista:nth-child(2),
    .menu__lista:nth-child(3),
    .menu__lista:nth-child(4) {
        display: flex;
    }

    .menu__itens {
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }

    .menu__lista:nth-child(3) {
        flex-direction: column-reverse;
    }

    /* .jogos {
        order: 3;
    }

    .filmes {
        order: 2;
    }
    
    .premium {
        order: 1;
    }

    .maispagina {
        order: 4;
    } */
}